<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>Positive and negative strand</title>
</head>
<body>
<div style="text-align: center;"><h1> Positive and negative strand  </h1> </div>
<table>
     <tr>
         <th>

            <h2><a href= 'generate.html'> Positive strand </a></h2>
            <h2><a href= 'generate-.html'> Negative strand </a></h2>


     </th>
         <th>
<img src="{{url_for('static', filename='Figurechoice.png')}}" alt="An image that explain positive and negative strand">
             The DNA structure is a double helix so for every strand of DNA exists a complementary one, conventionally we use the positive.<br>
             Both the strands are read starting from 5' in direction 3'

         </th>
     </tr>
</table>
</body>
</html>