<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>Select your DNA</title>
</head>
<body>
<div style="text-align: center;"><h1>Fasta reader group project </h1> </div>
<table class="bottom">
     <tr>
         <th>
<form action = "/setfile" enctype="multipart/form-data" method = "POST">
         <p><h3>Select your DNA fasta file</h3></p>
         <p><input type =file name = 'file'/></p>
         <p><input type = 'submit' value = 'generate DNA'/></p>
      </form>
             <form action = "/setfile1" enctype="multipart/form-data" method = "POST">
         <p><h3>Select your AAChain fasta file</h3></p>
         <p><input type =file name = 'file'/></p>
         <p><input type = 'submit' value = 'generate AAChain'/></p>
      </form>
         </th>

         <th style="vertical-align: top">
             <h4>
                 This software reads fasta files with extension '.fasta', '.fa','.fna'<br>
                 Use the first button to choose a fasta file that contains a DNA sequence<br>
                 Use the second button to choose a fasta file that contains an AA sequence

         </h4>
         </th>
     </tr>
</table>

<table>
    <tr><th style="width: auto"><h3>This project is made by:<br>
             Matilde Menini 001101308<br>
             Luis Alberto Espinoza Garcia 00001093679<br>
             Edoardo Trastu 0001094040 </h3></th></tr>
</table>

</body>
</html>