<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>Oligopeptide  {{WRITE1}},{{WRITE2}}</title>

</head>
<body>
<div style="text-align: center;"> <h2>Oligopeptide  {{WRITE1}},{{WRITE2}}</h2></div>
<table>
    <tr>
        <th style="vertical-align: top">
<h2> RF:{{WRITE1}}</h2>
<h2> Index:{{WRITE2}}</h2>
<h2> Length:{{WRITE3}}</h2>

 <p class="box_break"> {{CHAIN}}  </p>
        </th><th  style="width: auto;vertical-align: top">
    <table> <tr><th style="width: auto;vertical-align: top">
<img src="{{url_for('static', filename='graphprot.png')}}" alt="A graph about your Protein">

    </th></tr><table><tr><th style="width: auto;vertical-align: top">
                    {% for i in DATA[0]%}
                            {{ i }}<br>
                    {%endfor%}
</th>    <th style="width: auto;vertical-align: top">Frequence <br>

                    {% for i in DATA[1][1::]%}

                        {{ i }}%<br>
                    {%endfor%}
    </th> </tr> </table>

    </table>
 </th>
    </tr>

    </table>
</body>
</html>